/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 10 23, 22, 12:24:18 PM
    Author     : WINDOWS 10
*/

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #1FE8DC, #235d72);
    -fx-border-color: #000;
    -fx-border-width:.4px 0px .4px .4px;
}
.right-form{
    -fx-background-color: #fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color: #13064e;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 2px;
    -fx-border-width: .2px;
    -fx-border-color: #000;
    -fx-font-size: 13px;
    -fx-font-family: Tahoma;
}
.textfield:focused{
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to bottom right, #1FE8DC, #235d72);
    -fx-border-width: .8px;
}

.loginBtn{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px;
}
.loginBtn:hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.medicoBtn{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px;
}
.medicoBtn:hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.pacienteBtn{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px ;
}
.pacienteBtn:hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.marcarConsulta{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px ;
}
.marcarConsulta :hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.verConsultas{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px ;
}
.verConsultas:hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.realizarConsulta{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px ;
}
.realizarConsulta:hover{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.verHistorico{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor:hand;
    -fx-background-radius: 16px ;
}
.verHistorico{
    -fx-background-color:linear-gradient(to bottom,#1FE8DC, #061919);
}

.register-btn{
    -fx-background-color:linear-gradient(to bottom, #1FE8DC, #235d72);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-background-radius : 16px;
}

.register-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #1FE8DC, #061919);
}

.cancel-btn{
    -fx-background-color:linear-gradient(to bottom, #ea0f21, #7e0e16);
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
    -fx-cursor: hand;
    -fx-background-radius : 16px;
}

.cancel-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #ea0f21, #320204);
}

.sair-btn{
     -fx-background-color:linear-gradient(to bottom, #ea0f21, #7e0e16);
     -fx-text-fill: #fff;
     -fx-font-size: 14px;
     -fx-font-family: Arial;
     -fx-cursor: hand;
     -fx-background-radius : 16px;
 }

.sair-btn:hover {
    -fx-background-color: linear-gradient(to bottom, #ea0f21, #320204);
}

